<h1>簡易掲示板システム</h1>


<%= link_to "ユーザー一覧", :controller => "users", :action => "index" %>
<%= link_to "ユーザー登録", :controller => "users", :action => "new" %>
<hr>

<% @boards.each do |board| %>
  <div class="clearfix">
    <div class="line_title">投稿タイトル</div>
    <div class="line_contents">
      <%= board.title %>
    </div>
  </div>
  
  <div class="clearfix">
    <div class="line_title">ユーザー名</div>
    <div class="line_contents">
      <% @c = @users.select {|user| user.id == board.user_id } %>
      <% if !@c.empty? then %>
        <%= link_to @c[0].name, {:controller => "users", :action => "show", :id => @c[0].id } %>
      <% end %>
    </div>
  </div>

  <div class="clearfix">
    <div class="line_title">投稿日時</div>
    <div class="line_contents">
      <%= board.d_date %> <%= board.d_time %>
    </div>
  </div>

  <div class="clearfix">
      <%= board.comment %>
  </div>

  <%= link_to 'Show', board %>
  <%= link_to 'Edit', edit_board_path(board) %>
  <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>

  <div style="margin-bottom: 20px"></div>
<% end %>

<hr>
<br />

<%= form_tag(:controller=>"boards", :action=>"create") do -%>
  <div class="user_wrapper">
    <h3>ユーザー名</h3>
    <%= text_field(:contribute, :user, :class=>"user_text", :size=>"60") %>
    <h3>投稿タイトル</h3>
    <%= text_field(:contribute, :title, :class=>"user_text", :size=>"60") %>
    <br/>
    <h3>投稿内容</h3>
    <%= text_area(:contribute, :comment, :class=>"user_area", :size=>"60x20") %>
    <br/>
    <%= submit_tag("送信", :confirm=>"Are you sure?", :size=>"50") %>
    <br/>
  </div>
<% end -%>
